<ul class="work-example-list">
    {% for work_example in site.data.work[page.lang] %}
        <li class="work-example">
            <img class="work-example-img" src="{{ site.baseurl }}/assets/img/work/{{ work_example[1].img }}" alt="" width="258" />
            <div class="work-example-details-wrapper">
                <div class="work-example-details">
                    <h3 class="work-example-title">{{ work_example[0] }}</h3>
                    <div class="work-example-description">
                        {{ work_example[1].desc|markdownify }}
                    </div>
                    <ul class="work-example-tech-list">
                        {% for tech in work_example[1].tech %}
                            <li class="work-example-tech-list-item">{{ tech }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
