{#
 # This file is part of the fabschurt/portfolio package.
 #
 # (c) 2016 Fabien Schurter <fabien@fabschurt.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<ul class="chip-list">
    {% for chip in chips %}
        <li class="chip-list-item">
            <span class="chip-list-item-text">{{ chip }}</span>
        </li>
    {% endfor %}
</ul>
