<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <!-- Technical -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Semantics -->
        <title>Fabien Schurter</title>
        <meta name="description" content="Portfolio professionnel de Fabien Schurter, développeur web." />

        <!-- Assets -->
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    </head>
    <body>
        <!-- Content -->
        <div class="main-container mdl-js-layout">
            <div class="main-header">
                <header>
                    <h1 class="main-title">
                        Fabien Schurter
                        <small class="main-title-sub">Développeur web</small>
                    </h1>
                </header>
            </div>
            <div class="main-content">
                <div class="main-wrapper">
                    <main>
                        {% for section in ['intro', 'skills'] %}
                            <div class="content-item content-item-{{ section }}">
                                <section id="{{ section }}">
                                    @@include(markdown('{{ section }}.md'))
                                </section>
                            </div>
                        {% endfor %}
                    </main>
                </div>
            </div>
        </div>

        <!-- Assets -->
        <script src="/assets/js/main.js"></script>
        {% if is_dev %}
            <script src="http://127.0.0.1:44100/livereload.js"></script>
        {% endif %}
    </body>
</html>
